*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
div.m{
    background-color: aqua;
    width:100% ;
    height: 60px;
    border-radius: 15px;
}
div.m>nav{
    width: 100%;
    height: 100%;
}
div.m>nav>ul{
   list-style: none; 
text-align: center;
}
div.m>nav>ul>li{
display: inline-block;
margin-left: 15px;
margin-top: 15px;
}
div.m>nav>ul>li>a{
text-decoration: none;
font-size: 20px;
}
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }